USE [master]
GO
/****** Object:  Database [NMS]    Script Date: 2/25/2025 2:34:17 AM ******/
CREATE DATABASE [NMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NMS]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/25/2025 2:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[CategoryDescription] [nvarchar](50) NULL,
	[ParentCategoryID] [int] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsArticle]    Script Date: 2/25/2025 2:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsArticle](
	[NewsArticleID] [int] IDENTITY(1,1) NOT NULL,
	[NewsTitle] [nvarchar](200) NULL,
	[Headline] [nvarchar](200) NULL,
	[CreateDate] [datetime] NULL,
	[NewsContent] [nvarchar](max) NULL,
	[NewsSource] [nvarchar](200) NULL,
	[CategoryID] [int] NULL,
	[NewsStatus] [bit] NULL,
	[CreatedByID] [int] NULL,
	[UpdateByID] [int] NULL,
	[ModifyDate] [datetime] NULL,
 CONSTRAINT [PK_NewsArticle] PRIMARY KEY CLUSTERED 
(
	[NewsArticleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsTag]    Script Date: 2/25/2025 2:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsTag](
	[NewArticleID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
 CONSTRAINT [PK_NewsTag] PRIMARY KEY CLUSTERED 
(
	[NewArticleID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemAccount]    Script Date: 2/25/2025 2:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemAccount](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](50) NULL,
	[AccountEmail] [nvarchar](50) NULL,
	[AccountRole] [int] NULL,
	[AccountPassword] [nvarchar](50) NULL,
 CONSTRAINT [PK_SystemAccount] PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 2/25/2025 2:34:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](50) NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryDescription], [ParentCategoryID], [IsActive]) VALUES (1, N'H1', N'place for learn', 1, 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryDescription], [ParentCategoryID], [IsActive]) VALUES (2, N'H2', N'place for play', 1, 1)
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [CategoryDescription], [ParentCategoryID], [IsActive]) VALUES (4, N'H3', N'good', 1, 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsArticle] ON 

INSERT [dbo].[NewsArticle] ([NewsArticleID], [NewsTitle], [Headline], [CreateDate], [NewsContent], [NewsSource], [CategoryID], [NewsStatus], [CreatedByID], [UpdateByID], [ModifyDate]) VALUES (1, N'Information of room', N'Book room', CAST(N'2025-02-23T15:52:00.000' AS DateTime), N'for student follow to book new room in dom', N'https://images.unsplash.com/photo-1735825764460-c5dec05d6253?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 1, 1, 1, 1, CAST(N'2025-02-24T17:49:12.173' AS DateTime))
INSERT [dbo].[NewsArticle] ([NewsArticleID], [NewsTitle], [Headline], [CreateDate], [NewsContent], [NewsSource], [CategoryID], [NewsStatus], [CreatedByID], [UpdateByID], [ModifyDate]) VALUES (2, N'Car in university 222', N'Car newsssss', CAST(N'2025-01-01T00:00:00.000' AS DateTime), N'information of car in universitty ', N'https://pbs.twimg.com/media/GkYJkrWWEAEGxPU?format=jpg&name=large', 1, 1, 2, 1, CAST(N'2025-02-25T00:02:44.133' AS DateTime))
INSERT [dbo].[NewsArticle] ([NewsArticleID], [NewsTitle], [Headline], [CreateDate], [NewsContent], [NewsSource], [CategoryID], [NewsStatus], [CreatedByID], [UpdateByID], [ModifyDate]) VALUES (3, N'Student Gold Toat', N'Good Student', CAST(N'2025-02-24T00:00:00.000' AS DateTime), N'have ten students get signature of information', N'https://images.unsplash.com/photo-1740141340584-a749ceac44a1?q=80&w=1970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D', 1, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[NewsArticle] OFF
GO
INSERT [dbo].[NewsTag] ([NewArticleID], [TagID]) VALUES (1, 1)
INSERT [dbo].[NewsTag] ([NewArticleID], [TagID]) VALUES (1, 2)
INSERT [dbo].[NewsTag] ([NewArticleID], [TagID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[SystemAccount] ON 

INSERT [dbo].[SystemAccount] ([AccountID], [AccountName], [AccountEmail], [AccountRole], [AccountPassword]) VALUES (1, N'staffABDE123', N'staff@gmail.com', 1, N'1234')
INSERT [dbo].[SystemAccount] ([AccountID], [AccountName], [AccountEmail], [AccountRole], [AccountPassword]) VALUES (2, N'staff2', N'staff@email.com', 1, N'123')
INSERT [dbo].[SystemAccount] ([AccountID], [AccountName], [AccountEmail], [AccountRole], [AccountPassword]) VALUES (3, N'lecturer1', N'lecturer@gmail.com', 2, N'123')
SET IDENTITY_INSERT [dbo].[SystemAccount] OFF
GO
SET IDENTITY_INSERT [dbo].[Tag] ON 

INSERT [dbo].[Tag] ([TagID], [TagName], [Note]) VALUES (1, N'Car', NULL)
INSERT [dbo].[Tag] ([TagID], [TagName], [Note]) VALUES (2, N'Sport', N'dddd')
INSERT [dbo].[Tag] ([TagID], [TagName], [Note]) VALUES (3, N'Industry', N'about somethings aaa')
SET IDENTITY_INSERT [dbo].[Tag] OFF
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Category] FOREIGN KEY([ParentCategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Category]
GO
ALTER TABLE [dbo].[NewsArticle]  WITH CHECK ADD  CONSTRAINT [FK_NewsArticle_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[NewsArticle] CHECK CONSTRAINT [FK_NewsArticle_Category]
GO
ALTER TABLE [dbo].[NewsArticle]  WITH CHECK ADD  CONSTRAINT [FK_NewsArticle_SystemAccount] FOREIGN KEY([CreatedByID])
REFERENCES [dbo].[SystemAccount] ([AccountID])
GO
ALTER TABLE [dbo].[NewsArticle] CHECK CONSTRAINT [FK_NewsArticle_SystemAccount]
GO
ALTER TABLE [dbo].[NewsArticle]  WITH CHECK ADD  CONSTRAINT [FK_NewsArticle_SystemAccount1] FOREIGN KEY([UpdateByID])
REFERENCES [dbo].[SystemAccount] ([AccountID])
GO
ALTER TABLE [dbo].[NewsArticle] CHECK CONSTRAINT [FK_NewsArticle_SystemAccount1]
GO
ALTER TABLE [dbo].[NewsTag]  WITH CHECK ADD  CONSTRAINT [FK_NewsTag_NewsArticle] FOREIGN KEY([NewArticleID])
REFERENCES [dbo].[NewsArticle] ([NewsArticleID])
GO
ALTER TABLE [dbo].[NewsTag] CHECK CONSTRAINT [FK_NewsTag_NewsArticle]
GO
ALTER TABLE [dbo].[NewsTag]  WITH CHECK ADD  CONSTRAINT [FK_NewsTag_Tag] FOREIGN KEY([TagID])
REFERENCES [dbo].[Tag] ([TagID])
GO
ALTER TABLE [dbo].[NewsTag] CHECK CONSTRAINT [FK_NewsTag_Tag]
GO
USE [master]
GO
